{{template "header"}}

  <title>首页 · 我的 Beego 博客</title>

{{template "navbar"}}

<div id="nav">
   <ul>
   	 
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>
   	 <li><a href="###">广告位招租</a></li>

   </ul>
</div>
<div id="search">
   <form>
   	  <select name="search">
   	  	<option selected="selected">按标题</option>
        <option>按关键字</option>
        <option>全局查询</option>
   	  </select>
   	  <input id="text" type="text" name="keyword" class="text" />
   	  <input type="submit" name="send" class="submit" value="搜索">

   </form>
</div>

<div id="article">
  <h3>文章</h3>
</div>
<div id="pic">
  <h2>取名1</h2>

</div>

  
<div id="rec">
    <h2>取名2</h2>
</div>
  
<div id="comment">
    <h3>评论区</h3>
</div>
   
<div id="other">
    <h2>取名3</h2>
</div>
  
<div id="link">link</div>
<div id="footer">footer</div>
<link rel="stylesheet" type="text/css" href="static/css/home.css">
</body>