{{template "header"}}
    <title>注册用户 · 我的beego 博客</title>
</head>
<body bgcolor="#003300">
    <div id="top">
      <a href="/signup">注册账户</a>
    </div>
    <div id="header">
      <form method="POST" action="/login">
      <div class="form-group">
      <label >Account:</label>
      <input id="username" class="form-control"  placeholder="Enter account" name="username">
      </div>
      <div class="form-group">
         <label >Password:</label>
         <input id="password" type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="form-group">
      <label >E_mail: </label>
      <input id="email" class="form-control"  placeholder="Used to retrieve password" name="email">
      </div>
      <input type="hidden" name="adur" value="add">
      <button type="submit" class="btn btn-default" onclick="return checkInput()">注册</button>
      <button class="btn btn-default" onclick="return backTohome()">返回</button>
      </form>
      <script type="text/javascript">
        function checkInput(){
        var email = document.getElementById("email");
        if (email.value.length == 0) {
          alert("请输入邮箱");
          return false
        }
        var username = document.getElementById("username");
        if (username.value.length ==0) {
          alert("请输入账号");
          return false
        }
        var password = document.getElementById("password");
        if (password.value.length ==0) {
          alert("请输入密码");
          return false;
        }
        else {
            alert("注册成功！");
            return true;
        }
        return true

       }
      </script>
      <script type="text/javascript">
        function backTohome(){
          window.location.href = "/"
          return false;

        }
      </script>
      </div>


    <form></form>
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
</body>
</html>